* {
    margin: 0;
    padding: 0;
}
body {
   background-color: #2B633E;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #194729 ;
    padding: 0;
    margin: 0;
}

.logo {
    width: 150px; 
    height: auto; 
}

@font-face{
    font-family: "Cinzel";
    src: url('CinzelDecorative-Regular.otf');
} 

h1 {
    font-family:"Cinzel";
    font-size: 6em;
    font-weight: bold;
    background-image: linear-gradient(130deg, #E8E9E9, #ABACAB, #5F615F);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    margin-right: 450px;
}
#Top {
    background-image: linear-gradient(130deg, #E8E9E9, #ABACAB, #5F615F);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#Top h2{
    font-size: 35px;
    margin: 25px;
    display: flex;
    justify-content: center;
}
#Top div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 40px;
}
#Top img {
    width: 200px;
    margin-right: 60px;
    border: #5F615F solid 2px;
    transition: transform 0.3s ease;
}
#Top img:hover {
    transform: scale(1.1);
}
#Top p {
    text-align: justify;
    font-size: 25px;
    line-height: 35px;
}
#Bravura {
    background-image: linear-gradient(130deg, #E8E9E9, #ABACAB, #5F615F);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#Bravura h2 {
    font-size: 35px;
    margin: 25px;
    display: flex;
    justify-content: center;
    
}
#Bravura div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 40px;
}
#Bravura img {
    width: 450px;
    margin-left: 60px;
    border: #5F615F solid 2px;
    transition: transform 0.3s ease;
}
#Bravura img:hover {
    transform: scale(1.1);
}
#Bravura p {
    text-align: justify;
    font-size: 25px;
    line-height: 35px;
}
#Determinação {
    background-image: linear-gradient(130deg, #E8E9E9, #ABACAB, #5F615F);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#Determinação h2 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 25px;
    align-items: center;
}
#Determinação div {
    display: flex;
    margin: 40px;
    flex-direction: column;
    align-items: center;
}
#Determinação p {
    font-size: 25px;
    line-height: 35px;
    text-align: justify;
}
#Determinação img {
    margin: 50px;
    perspective: 1000px;
    width: 600px;
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
}
#Determinação img:hover {
    transform: scale(1.1) rotateY(10deg) rotateX(5deg);
}
#Final {
    background-image: linear-gradient(130deg, #E8E9E9, #ABACAB, #5F615F);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#Final h2 {
    font-size: 35px;
    display: flex;
    justify-content: center;
}
#Final p {
    font-size: 25px;
    line-height: 35px;
    text-align: justify;
    margin-bottom: 30px;
}
#Final div {
    margin: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#Final img {
    width: 200px;
    height: 200px;
    border: #5F615F solid 2px;
    transition: transform 0.3s ease;
}
#Final img:hover {
    transform: scale(1.1);
}
footer {
    display: flex;
    text-align: center;
    background-image: linear-gradient(130deg, #2B633E, #194729, #2B633E);
    color: black;
    padding: 20px;
    width: 100%;
    flex-direction: column;
}

.footer-container a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ;
}
.footer-container a:hover {
    color: #ffff;
}